@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
}

html, 
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);
  /* significa que para essa váriavel: "var(--gay)" usaremos mesma cor */

  height: 100%;
  font-family: 'Roboto', sans-serif; 
  -webkit-font-smoothing: antialiased;
  /* vai fundiconar a fonte apenas em navegadores webkit (chrome, safari) */
}

body {
  display: grid;
  place-items: center;
} 

main {
  background: url(images/background.jpg);
  width: 375px;
  height:  812px;
}

.container {
  max-width: 250px;
 
  margin-left: auto;
  margin-right: auto;
  
  text-align: center;

  color: var(--gray); 
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  /* para deixar a imagem flutuando, uma imagem em baixo e outra em cima   */

  top: -15px;
  /* para deslocar ele 15px para cima, ele sobe a partir da imagem de 
  perfil porque a var avatar esta com a position relative, para que a 
  imagem dessa var seja relativa a de pefil e não da página inteira.  */

  z-index: 1;
  /* z->eixo de profundidade */
}

.avatar > img { /* para pegar apenas a imagem de primeiro níbel (foto de perfil) */
  width: 10rem;
  height: 11.5rem;

  object-fit: cover;
  /* imagem se adapte dentro do espaço dado (cobre todo o espaço dado)*/

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  /* para conseguir o formato da imagem de perfil */
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 3rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;
  /* espaço entre eles */

  justify-content: center;
}